
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,500,700" rel="stylesheet">
    <link rel="stylesheet" href="css/temp.css">
</head>

<body>
    <!-- navbar -->
    <nav class="navbar navbar-light ">
        <a class="navbar-brand" href="#"><img src="images/logo.png" style="height:50px;transform: scale(1.4);padding-right: 2%;">SHOPPING-POOL</a>
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <i class="fas fa-user-tie"></i> hello <%= seller.name%>
            </li>
            <!-- <li class="nav-item">
                    <a class="nav-link " href="#">Contact Us</a>
                </li> -->
        </ul>
    </nav>
    <!-- sidebar -->
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <div class="vertical">
                    <ul>
                        <li class="list"><i class="fas fa-chart-line"></i> Dashboard</li>
                        <li class="list" onclick="window.location.href = '/<%=seller.id%>/products'"><i class="fab fa-product-hunt"></i> Products</li>
                        <li class="list" onclick="window.location.href = '/<%=seller.id%>/sales'"><i class="fas fa-clipboard-check"></i> Sales</li>
                        <li class="list"><i class="fas fa-users"></i> Customers</li>
                        <li class="list"><i class="fab fa-ubuntu"></i> System</li>
                        <li class="list"><i class="fas fa-map-marked-alt"></i> Marketplace</li>
                        <li class="list" onclick="window.location.href = '/<%=seller.id%>/profile'"><i class="fas fa-user-circle"></i> Profile</li>
                        <li class="list" onclick="window.location.href = '/<%=seller.id%>/logout'"><i class="fas fa-sign-out-alt"></i> Logout</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.7.0/firebase.js"></script>
    <script src="js/auth.js"></script>
    <script src="js/temp.js"></script>
</body>

</html>

    